NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=superrandomstringhier
KEYCLOAK_CLIENT_ID=socera-society-app
KEYCLOAK_ISSUER=http://localhost:8090/realms/socera
KEYCLOAK_CLIENT_SECRET=

API_BASE_URL=http://localhost:5000
API_VERSION=v1